<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <b><%=link_to "FoodFight.com", @url2 %></b>, <%= @user.full_name %></h1>
    <p>
      You have successfully signed up to foodfight.com,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%=link_to "FoodFight log_in", @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
