<tr>
  <td><%= restaurant.title %></td>
  <td><%= restaurant.description %></td>
  <td><%= restaurant.status %></td>
  <td><%= link_to 'Approve', approve_restaurant_path(restaurant.slug), method: "put" %></td>
</tr>
