<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  <%= render partial: 'dashboard/restaurants/restaurant', collection: restaurants %>
</table>
