<div class="row">
  <div class="col-md-4">
    <h1>Sign Up</h1>
    <%= render 'partial_sign_up_form' %>
  </div>

  <div class="col-md-4">
    <h1>Log In</h1>
    <%= render 'sessions/form' %>
  </div>

  <div class="col-md-4">
    <h1>Checkout As Guest</h1>
    <%= render 'orders/form' %>
  </div>
</div>
