<div class="span4 well well-sm">
  <div class="item">
    <div class="item-image">
      <td>
        <div class="image-display">
         img placeholder
        </div>
      </td>
    </div>
    <div class="item-details">
      <h5>
        <%= restaurant.title %>
      </h5>
      <p class="item-description">
        <%= restaurant.description[0..100] %>
          <%="…" if restaurant.description.length > 100 %>
      </p>
    </div>
    <div id="view-menu">
      <%= link_to 'View Menu', restaurant.slug, class: "item-show btn btn-default", id: "btn-view-menu-#{restaurant.id}" %>
    </div>
  </div>
</div>
