<div class="row center" style="text-align: center;">
  <%= image_tag("#{@restaurant.id}_logo.png", class: "header-images pull-left") %>
  <font style="font-weight: bold; display: inline-block; padding-top: 35px; font-size: 300%"><%= current_restaurant.title %></font>
  <%= image_tag("#{@restaurant.id}_logo.png", class: "header-images pull-right") %>
</div>
