<div class="row center">
  <%= image_tag("#{@restaurant.title}_logo.png", class: "header-images pull-left") %>
  <font style="font-weight: bold; display: inline-block; padding-top: 35px; font-size: 300%; margin-left: 27%;"><%= @restaurant.title %></font>
  <%= image_tag("#{@restaurant.title}_logo.png", class: "header-images pull-right") %>
</div>
