 <div class="span4 well well-sm">
  <div class="item">
    <div class="item-image">
      <td>
        <div class="image-display">
         img placeholder
        </div>
      </td>
    </div>
    <div class="item-details">
      <h5>
        <%= restaurant.title %>
      </h5>
      <p class="item-description">
        <%= restaurant.description %>
      </p>
    </div>
    <div id="view-menu">
    <%= button_to 'View Menu', "/#{restaurant.title}", method: :get, class: "item-show", id: "btn-view-menu-#{restaurant.id}" %>
    </div>
  </div>
</div>

