<div class="jumbotron center-text">
  <%= @restaurant.title %></br>
  <%= @restaurant.description %></br>

  <div class="container">
    <%= render partial: 'items/item', collection: @restaurant.items %>
  </div>

  <% if allow? "items", "create" %>
    <%= link_to "New Item", new_restaurant_item_path, :class => 'btn btn-primary' %>
  <% end %>
</div>
