<%= @restaurant.title %></br>
<%= @restaurant.description %></br>

<div class="container">
  <% @restaurant.items.in_groups_of(3, false).each do |item_array| %>
    <div class="row col-md-4">
      <%= render partial: 'items/item', collection: item_array %>
    </div>
  <% end %>
</div>

<% if allow? "items", "create" %>
  <%= link_to "New Item", new_item_path, :class => 'btn btn-primary' %>
<% end %>

