<div class="center-text" style="margin-left: 4%">
  <div class="container">
    <%= render partial: 'items/item', collection: @restaurant.items %>
  </div>

  <% if current_user.admin? || current_user.id == current_restaurant.creator_id %>
    <%= link_to "New Item", new_restaurant_item_path, :class => 'btn btn-primary' %></br>
  <% end %>
  <% if current_restaurant.status == 'approved' %>
  <%= link_to "Activate", "/#{current_restaurant.slug}/activate", :class => 'btn btn-primary' %>
  <% end %>
</div>
