<div class="row center" style="text-align: center;">
  <%= image_tag("food_fight_logo.png", class: "header-images pull-left") %>
  <font style="font-weight: bold; display: inline-block; padding-top: 35px; font-size: 300%">FOOD FIGHT</font>
  <%= image_tag("food_fight_logo.png", class: "header-images pull-right") %>
</div>
