<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <a id="home-link" class="navbar-brand" href="/">Food Fight</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Restaurants<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Available Restaurants", restaurants_path %></a></li>
          <li class="divider"></li>
            <% @regions.each do |region| %>
            <li><%= link_to "#{region.name}", region_path(region.id) %></a></li>
          <% end %>
        </ul>
      </li>
      <li><a href="#">Order History</a></li>
      <li><a href="#">Contact</a></li>
      <%= render "layouts/profile_nav" %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <%= render "users/user_nav" %>
    </ul>

  </div>
</div>
