<% if current_user %>
  <% if !current_user.guest? %>
    <li><%= link_to "My profile", edit_user_path(current_user.id) %></li>
    <% if current_user.admin? %>
      <li><%= link_to "Dashboard", dashboard_path %></li>
    <% end %>
    <% if current_user.restaurant_admin? %>
      <li><a href="#">My Restuarants</a></li>
    <% end %>
  <% end %>
<% end %>

